* {
  padding: 0;
  margin: 0;
  border: 0;
}

.header-button, .purchase-button, .projects-button {
  display: block;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 23px;
  border-bottom: 2px solid #736357;
  padding: 20px 35px 18px 35px;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  border-radius: 3px;
  outline: none;
  background-color: #998675;
}

.header-button:hover, .purchase-button:hover, .projects-button:hover {
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 20px 40px 18px 40px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background-color: #fff;
  color: #998675;
}

.header-button:active, .purchase-button:active, .projects-button:active {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url(../fonts/Raleway-Bold.woff2) format("woff2"), url(../fonts/Raleway-Bold.woff) format("woff"), url(../fonts/Raleway-Bold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url(../fonts/Raleway-SemiBold.woff2) format("woff2"), url(../fonts/Raleway-SemiBold.woff) format("woff"), url(../fonts/Raleway-SemiBold.ttf) format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url(../fonts/Raleway-Medium.woff2) format("woff2"), url(../fonts/Raleway-Medium.woff) format("woff"), url(../fonts/Raleway-Medium.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url(../fonts/Raleway-ExtraBold.woff2) format("woff2"), url(../fonts/Raleway-ExtraBold.woff) format("woff"), url(../fonts/Raleway-ExtraBold.ttf) format("ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url(../fonts/Raleway-Regular.woff2) format("woff2"), url(../fonts/Raleway-Regular.woff) format("woff"), url(../fonts/Raleway-Regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(../fonts/Montserrat-Light.woff2) format("woff2"), url(../fonts/Montserrat-Light.woff) format("woff"), url(../fonts/Montserrat-Light.ttf) format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(../fonts/Montserrat-Regular.woff2) format("woff2"), url(../fonts/Montserrat-Regular.woff) format("woff"), url(../fonts/Montserrat-Regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.header-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  font-style: normal;
}

.header-text, .work-text, .realization-text, .purchase-text, .projects-text, .video-text, .video-timer, .mobile-text, .mobile-list-item-text, .recent-text, .footer-info-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

.header-title {
  font-family: 'Raleway', sans-serif;
  font-size: 52px;
  font-weight: 800;
  font-style: normal;
}

.realization-header, .projects-header, .mobile-header, .recent-header {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #555555;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.header {
  background-image: url(../img/header-bg.jpg);
  background-color: #362f2d;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1024px;
  padding: 40px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 0 300px 0;
}

.header-wrap-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo-svg {
  fill: #fff;
}

.header-logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 34px;
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 65px 0 0;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header-list-item {
  margin: 0 30px 0 0;
}

.header-list-item:last-child {
  margin: 0;
}

.header-list-item:hover .header-link {
  color: #c7b299;
}

.header-list-item:active .header-link {
  color: #fff;
}

.header-link {
  color: #fff;
}

.header-cart-svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 30px 0 0;
  fill: #fff;
}

.header-cart-svg:hover {
  fill: #c7b299;
}

.header-search {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.header-search-input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 40px;
  left: -175px;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 14px;
  text-transform: capitalize;
}

.header-search-input:focus {
  width: 200px;
  min-height: 20px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 1px solid #fff;
}

.header-search-icon {
  display: block;
  height: 24px;
}

.header-search-icon:hover .header-search-svg {
  fill: #c7b299;
}

.header-search-icon:active .header-search-svg {
  fill: #fff;
}

.header-search-svg {
  fill: #fff;
}

.header-carosel-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-carusel-arrow {
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  opacity: 0.502;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-carusel-arrow:nth-last-of-type(2) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.header-wrap-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-caption {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  margin: 0 0 15px 0;
}

.header-title {
  color: #fff;
  margin: 0 0 20px 0;
}

.header-text {
  color: #fff;
  line-height: 24px;
  text-align: center;
  max-width: 570px;
  margin: 0 0 30px 0;
}

.header-button {
  margin: 0 0 330px 0;
}

.header-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-slider-svg {
  fill: #fff;
  opacity: 0.502;
  margin: 0 6px 0 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 2px solid transparent;
}

.header-slider-svg:last-child {
  margin: 0;
}

.header-slider-svg:hover {
  fill: none;
  border: 2px solid #c7b299;
  border-radius: 50%;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.work-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 0;
}

.work-list-wrapper::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}

.work-list-wrapper:last-child {
  margin: 0;
}

.work-list-wrapper:hover .work-header {
  color: #c7b299;
}

.work-list-wrapper:hover .work-svg {
  fill: #c7b299;
}

.work-list-wrapper:hover::after {
  background-color: #555555;
}

.work-svg {
  fill: #555555;
  margin: 0 0 30px 0;
  width: 52px;
  height: 49px;
}

.work-header {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  color: #555555;
  margin: 0 0 20px 0;
}

.work-text {
  max-width: 270px;
  text-align: center;
  color: #8c8c8c;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 20px 0;
}

.realization {
  background-color: #fbfaf8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.realization-header {
  margin: 0 0 20px 0;
}

.realization-text {
  max-width: 770px;
  text-align: center;
  margin: 0 0 40px 0;
}

.realization-img {
  height: 482px;
  width: auto;
}

.purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #4e3427;
}

.purchase-wrap {
  margin: 50px 0 50px 0;
}

.purchase-header {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.purchase-header span {
  color: #c7b299;
}

.purchase-text {
  font-size: 18px;
  color: #998675;
}

.purchase-button-wrapper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.purchase-button:hover {
  padding: 25px 35px 23px 35px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.projects-header {
  margin: 0 0 25px 0;
}

.projects-text {
  max-width: 770px;
  text-align: center;
  margin: 0 0 40px 0;
  color: #8c8c8c;
}

.projects-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 0 0 40px 0;
}

.projects-nav-list-item {
  padding: 10px 20px;
  margin: 0 10px 0 0;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.projects-nav-list-item-link {
  color: #8c8c8c;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  font-style: normal;
}

.projects-nav-list-item:last-child {
  margin: 0;
}

.projects-nav-list-item:hover {
  color: #fff;
  background-color: #c7b299;
}

.projects-nav-list-item:hover .projects-nav-list-item-link {
  color: #fff;
}

.projects-nav-list-item:active {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 0 10px 0;
}

.projects-list-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px 30px;
}

.projects-list-item-img {
  height: 237px;
}

.projects-list-item-buttons {
  position: absolute;
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: 30%;
}

.projects-list-item-search {
  background-color: transparent;
}

.projects-list-item-search-svg {
  fill: #c7b299;
}

.projects-list-item-link {
  background-color: transparent;
  margin: 0 30px 0 0;
}

.projects-list-item-link-svg {
  fill: #c7b299;
}

.projects-list-item-wrap {
  position: relative;
  background-color: #fbfaf8;
  padding: 30px;
  margin: -4px 0 0 0;
}

.projects-list-item-wrap::before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -20px;
  left: 19px;
}

.projects-list-item-header {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: #c7b299;
  margin: 0 0 5px 0;
}

.projects-list-item-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  font-style: normal;
  color: #8c8c8c;
}

.projects-list-item:hover .projects-list-item-img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.projects-list-item:hover .projects-list-item-wrap {
  background-color: #362f2d;
}

.projects-list-item:hover .projects-list-item-wrap::before {
  border-bottom: 10px solid #362f2d;
}

.projects-list-item:hover .projects-list-item-header {
  color: #fff;
}

.projects-list-item:hover .projects-list-item-text {
  color: #c7b299;
}

.projects-list-item:hover .projects-list-item-buttons {
  display: block;
}

.projects-list .projects-list-item-buttons:hover .projects-list-item-link:hover .projects-list-item-link-svg {
  fill: #fff;
}

.projects-list .projects-list-item-buttons:hover .projects-list-item-search:hover .projects-list-item-search-svg {
  fill: #fff;
}

.projects-button:hover {
  background-color: #fbfaf8;
}

.project-list-item-search,
.project-list-item-link {
  width: 20px;
  height: 20px;
  display: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 45%;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-video {
  width: 100% !important;
  height: auto !important;
  position: relative;
  z-index: -1;
}

.video-wrap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-wrap-text {
  text-align: center;
}

.video-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(54, 47, 45, 0.2);
  margin: 0 0 45px 0;
}

.video-button-svg {
  fill: #fff;
}

.video-header {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  margin: 0 0 30px 0;
}

.video-text {
  color: #fff;
  margin: 0 0 30px 0;
  max-width: 570px;
}

.video-timer {
  font-size: 14px;
  color: #c7b299;
}

.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile-bg {
  margin: 0 30px 0 0;
}

.mobile-header {
  margin: 0 0 40px 0;
}

.mobile-text {
  color: #8c8c8c;
  margin: 0 0 40px 0;
  max-width: 670px;
}

.mobile-list {
  list-style-type: none;
  padding: 0 0 60px 100px;
}

.mobile-list-item {
  position: relative;
  padding: 0 0 5px 0;
}

.mobile-list-item-text {
  color: #8c8c8c;
}

.mobile-list-item::before {
  position: absolute;
  background-image: url(../img/mobile-list-png.png);
  content: '';
  background-size: 21px 21px;
  width: 21px;
  height: 21px;
  top: 3px;
  left: -50px;
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4e3427;
  padding: 0 0 60px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.numbers-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px 60px 0;
}

.numbers-item-svg {
  fill: #c7b299;
  margin: 0 0 30px 0;
  width: 54px;
  height: 44px;
}

.numbers-item-number {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 36px;
  font-style: normal;
  margin: 0 0 20px 0;
}

.numbers-item-text {
  color: #c7b299;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.numbers-item::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
}

.numbers-item:hover .numbers-item-svg {
  fill: #fff;
}

.numbers-item:hover::after {
  background-color: #c7b299;
}

.recent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.recent-header {
  margin: 0 0 30px 0;
}

.recent-text {
  color: #8c8c8c;
  text-align: center;
  max-width: 770px;
  margin: 0 0 30px 0;
}

.recent-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 40px 0;
}

.recent-list-item {
  border: 1px solid #f8f8f8;
  max-width: 370px;
  margin: 0 30px 0 0;
}

.recent-list-item-img {
  height: 220px;
  position: relative;
  z-index: -1;
}

.recent-list-item-date {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  background-color: #363636;
  border-radius: 3px;
  margin: 20px 0 0 20px;
}

.recent-list-item-date-day {
  padding: 5px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
}

.recent-list-item-date-month {
  background-color: #252525;
  border-radius: 0 0 3px 3px;
  width: 50px;
  padding: 5px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}

.recent-list-item-wrap {
  padding: 30px;
  margin: -4px 0 0 0;
}

.recent-list-item-header {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: #555555;
  margin: 0 0 25px 0;
}

.recent-list-item-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0 0 25px 0;
}

.recent-list-item-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #c7b299;
}

.recent-list-item-link::after {
  content: '';
  border: solid #c7b299;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 0 0 0 10px;
}

.recent-list-item:last-child {
  margin: 0;
}

.recent-list-item:hover .recent-list-item-wrap {
  background-color: #362f2d;
}

.recent-list-item:hover .recent-list-item-header {
  color: #c7b299;
}

.recent-list-item:hover .recent-list-item-text {
  color: #fff;
}

.recent-list-item:hover .recent-list-item-img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.recent-list-item:hover .recent-list-item-date {
  background-color: #c7b299;
}

.recent-list-item:hover .recent-list-item-date-month {
  background-color: #998675;
}

.recent-list-item:hover .recent-list-item-link:hover {
  color: #fff;
}

.recent-pagination-svg {
  fill: #d8d8d8;
}

.recent-pagination-svg:hover {
  fill: #c7b299;
}

.partners {
  background-image: url(../img/partners-bg.jpg);
  background-color: #362f2d;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.partners-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners-logo-link:hover {
  opacity: 0.7;
}

.partners-logo-link:focus {
  opacity: 0.7;
}

.partners-logo-link:active {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.footer-wrap {
  background-color: #191919;
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-info {
  margin: 0 30px 0 0;
}

.footer-info-logo {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px 0;
}

.footer-info-logo-svg {
  fill: #fff;
}

.footer-info-logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 34px;
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer-info-text {
  max-width: 270px;
  font-size: 14px;
  color: #555555;
  margin: 0 0 25px 0;
}

.footer-info-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

.footer-info-link::after {
  content: '';
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 0 0 0 10px;
}

.footer-info-link:hover {
  color: #c7b299;
}

.footer-recent {
  margin: 9px 30px 0 0;
}

.footer-recent-header {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  display: block;
  margin: 0 0 30px 0;
}

.footer-recent-list {
  list-style-type: none;
  max-width: 270px;
}

.footer-recent-list-item-date {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #363636;
  display: block;
  margin: 0 0 10px 0;
}

.footer-recent-list-item-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  margin: 0 0 20px 0;
}

.footer-recent-list-item::after {
  content: "";
  display: block;
  width: 270px;
  height: 1px;
  background-color: #252525;
  margin: 0 0 20px 0;
}

.footer-recent-list-item:hover .footer-recent-list-item-date {
  color: #fff;
}

.footer-recent-list-item:hover .footer-recent-list-item-text {
  color: #c7b299;
}

.footer-twitter {
  margin: 9px 30px 0 0;
}

.footer-twitter-header {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  display: block;
  margin: 0 0 30px 0;
}

.footer-twitter-list {
  list-style-type: none;
  width: 270px;
}

.footer-twitter-list-item-time {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #363636;
  display: block;
  margin: 0 0 20px 0;
}

.footer-twitter-list-item-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  margin: 0 0 10px 0;
}

.footer-twitter-list-item-text span {
  color: #01b7e9;
}

.footer-twitter-list-item-text a {
  color: #8c8c8c;
}

.footer-twitter-list-item::after {
  content: "";
  display: block;
  width: 270px;
  height: 1px;
  background-color: #252525;
  margin: 0 0 20px 0;
}

.footer-dribble {
  margin: 9px 0 0 0;
}

.footer-dribble-header {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  display: block;
  margin: 0 0 30px 0;
}

.footer-dribble-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 280px;
}

.footer-dribble-widget-link {
  margin: 0 10px 6px 0;
}

.footer-dribble-widget-link:hover {
  opacity: 0.7;
}

.footer-dribble-widget-link:focus {
  opacity: 0.7;
}

.footer-dribble-widget-link:active {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #111;
  padding: 45px 0;
}

.footer-copyright-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-copyright-list-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

.footer-copyright-list-item-text {
  color: #555555;
}

.footer-copyright-list-item-text span {
  color: #8c8c8c;
}

.footer-copyright-list-item-link {
  color: #555555;
}

.footer-copyright-list-item:hover .footer-copyright-list-item-link {
  color: #c7b299;
}

.footer-copyright-list-item + .footer-copyright-list-item::before {
  content: "|";
  color: #252525;
  display: inline-block;
  padding: 0 7px;
  margin: 0 0 20px 0;
}

.footer-copyright-design {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
}

.footer-copyright-design-text::before {
  content: "|";
  color: #252525;
  display: inline-block;
  padding: 0 7px;
  margin: 0 0 20px 0;
}

.footer-copyright-design-text span {
  color: #8c8c8c;
}

.mobile-header-wrap-nav {
  display: none;
}

@media (max-width: 1250px) {
  .realization-img {
    width: 100%;
    height: auto;
  }
  .mobile-bg {
    width: 30%;
    height: auto;
  }
}

@media (max-width: 1180px) {
  .header-logo-text {
    display: none;
  }
  .work-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work-list-wrapper {
    padding: 0 15px 30px 15px;
    margin: 0;
  }
  .projects-list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .numbers-item {
    margin: 60px 15px 0 15px;
  }
  .recent-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recent-list-item {
    padding: 0 15px 0 15px;
    margin: 0 0 20px 0;
  }
}

.partners-logo-png {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 900px) {
  .header {
    padding: 20px 0 0 0;
  }
  .header-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-wrap-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-logo {
    margin: 0 0 20px 0;
  }
  .mobile {
    padding: 40px 0 0 0;
  }
  .partners-logo-png {
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {
  .header-logo-text {
    display: block;
  }
  .header-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 40px 200px;
  }
  .header-nav {
    display: none;
  }
  .header-search {
    margin: 0 30px 0 0;
  }
  .header-button {
    margin: 0 0 200px 0;
  }
  .mobile-header-wrap-nav {
    display: block;
  }
  .mobile-header-wrap-nav-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 57px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .mobile-header-wrap-nav-btn > span,
  .mobile-header-wrap-nav-btn > span::before,
  .mobile-header-wrap-nav-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .mobile-header-wrap-nav-btn > span::before {
    content: '';
    top: -10px;
  }
  .mobile-header-wrap-nav-btn > span::after {
    content: '';
    top: 10px;
  }
  .mobile-header-wrap-nav-menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #fff;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .mobile-header-wrap-nav-menu-item {
    display: block;
    padding: 12px 24px;
    color: #555555;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    font-style: normal;
    text-decoration: none;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .mobile-header-wrap-nav-menu-item:active {
    background-color: #c7b299;
    color: #fff;
  }
  #mobile-header-wrap-nav-toggle {
    opacity: 0;
  }
  #mobile-header-wrap-nav-toggle:checked ~ .mobile-header-wrap-nav-btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #mobile-header-wrap-nav-toggle:checked ~ .mobile-header-wrap-nav-btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  #mobile-header-wrap-nav-toggle:checked ~ .mobile-header-wrap-nav-btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #mobile-header-wrap-nav-toggle:checked ~ .mobile-header-wrap-nav-menu {
    visibility: visible;
    z-index: 1;
    left: 0;
  }
  .header-title {
    font-size: 40px;
  }
  .header-caption {
    font-size: 30px;
  }
  .header-carusel-arrow {
    display: none;
  }
  .header-slider {
    display: none;
  }
  .projects-nav-list-item {
    margin: 0 10px 20px 0;
  }
  .projects-nav-list-item:last-child {
    margin: 0 0 20px 0;
  }
  .video {
    display: none;
  }
  .mobile {
    background-color: #362f2d;
  }
  .mobile-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-header {
    color: #fff;
  }
  .mobile-text {
    color: #fff;
  }
  .mobile-list-item-text {
    color: #fff;
  }
  .numbers {
    display: none;
  }
  .partners {
    display: none;
  }
  .footer-info {
    margin-bottom: 20px;
  }
}

@media (max-width: 460px) {
  .header-logo-text {
    display: none;
  }
  .header-caption {
    font-size: 26px;
    text-align: center;
  }
  .header-title {
    font-size: 30px;
    text-align: center;
  }
  .header-text {
    font-size: 14px;
  }
  .realization-header {
    text-align: center;
  }
  .realization-text {
    font-size: 14px;
  }
  .purchase-header {
    text-align: center;
  }
  .purchase-text {
    display: block;
    font-size: 14px;
    text-align: center;
  }
  .projects-text {
    font-size: 14px;
  }
  .projects-list-item {
    padding: 0 0 30px 0;
  }
  .projects-list-item-img {
    height: 100%;
    width: auto;
  }
  .mobile-header {
    text-align: center;
  }
  .mobile-header-wrap-nav-menu {
    width: 250px;
  }
  .mobile-text {
    text-align: center;
    font-size: 14px;
  }
  .mobile-list-item-text {
    font-size: 14px;
  }
  .recent-text {
    font-size: 14px;
  }
  .recent-list-item {
    padding: 0;
  }
  .recent-list-item-img {
    height: auto;
    width: 100%;
  }
  .footer-copyright-design {
    display: none;
  }
  .footer-copyright-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-copyright-list-item-text {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */