* {
    padding: 0;
    margin: 0;
    border: 0;
}

@import "variables.scss";
@import "fonts.scss";

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.header {
    background-image: url(../img/header-bg.jpg);
    background-color: $color_darkbrown;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;
    padding: 40px 0 0 0;
    box-sizing: border-box;

    &-wrap {
        display: flex;
        justify-content: space-evenly;
        margin: 0 0 300px 0;
    }

    &-wrap-nav {
        display: flex;
    }

    &-logo {
        align-self: center;
        display: flex;

        &-svg {
            fill: $color_white;
        }

        &-text {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 34px;
            color: $color_white;
            align-self: center;
        }
    }

    &-nav {
        align-self: center;
        margin: 0 65px 0 0;
    }

    &-list {
        display: flex;
        list-style: none;

        &-item {
            margin: 0 30px 0 0;
        }

        &-item:last-child {
            margin: 0;
        }

        &-item:hover .header-link {
            color: $color_lightbrown;
        }

        &-item:active .header-link {
            color: $color_white;
        }
    }

    &-link {
        @extend %font-nav;
        color: $color_white;
    }

    &-cart-svg {
        align-self: center;
        margin: 0 30px 0 0;
        fill: $color_white;
    }

    &-cart-svg:hover {
        fill: $color_lightbrown;
    }

    &-search {
        align-self: center;
        position: relative;

        &-input {
            width: 0;
            min-height: 0;
            padding: 5px;
            outline: none;
            box-sizing: border-box;
            background-color: transparent;
            border: none;
            position: absolute;
            top: 40px;
            left: -175px;
            color: $color_white;
            font-family: 'Montserrat';
            font-size: 14px;
            text-transform: capitalize;
        }

        &-input:focus {
            width: 200px;
            min-height: 20px;
            transition: width 1s ease;
            border: 1px solid #fff;
        }

        &-icon {
            display: block;
            height: 24px;
        }

        &-icon:hover .header-search-svg {
            fill: $color_lightbrown;
        }

        &-icon:active .header-search-svg {
            fill: $color_white;
        }

        &-svg {
            fill: $color_white;
        }
    }

    &-carosel-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    }

    &-carusel-arrow {
        display: block;
        width: 50px;
        height: 50px;
        border: none;
        border-top: 2px solid $color-white;
        border-right: 2px solid $color-white;
        opacity: 0.502;
        transform: rotate(45deg);
    }

    &-carusel-arrow:nth-last-of-type(2) {
        transform: rotate(225deg);
    }

    &-wrap-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &-caption {
        font-family: 'Raleway', sans-serif;
        font-size: 36px;
        font-weight: 500;
        font-style: normal;
        color: $color_white;
        margin: 0 0 15px 0;
    }

    &-title {
        @extend %font-h1;
        color: $color_white;
        margin: 0 0 20px 0;
    }

    &-text {
        color: $color_white;
        @extend %font-text;
        line-height: 24px;
        text-align: center;
        max-width: 570px;
        margin: 0 0 30px 0;
    }

    &-button {
        @extend %button;
        margin: 0 0 330px 0;
    }

    &-button:hover {
        @extend %button-hover;
    }

    &-button:active {
        @extend %button-active;
    }

    &-slider {
        display: flex;
        justify-content: center;

        &-svg {
            fill: $color_white;
            opacity: 0.502;
            margin: 0 6px 0 0;
            align-self: center;
            border: 2px solid transparent;
        }

        &-svg:last-child {
            margin: 0;
        }

        &-svg:hover {
            fill: none;
            border: 2px solid $color_lightbrown;
            border-radius: 50%;
        }
    }

}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 0;
    box-sizing: border-box;

    &-list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 30px 0 0;
        }

        &-wrapper::after {
            content: "";
            display: block;
            width: 70px;
            height: 3px;
            background-color: #f1eee9;
        }

        &-wrapper:last-child {
            margin: 0;
        }

        &-wrapper:hover .work-header {
            color: $color_lightbrown;
        }

        &-wrapper:hover .work-svg {
            fill: $color_lightbrown;
        }




    }

    &-wrapper:hover::after {
        background-color: $color_text;
    }
}


&-svg {
    fill: $color_text;
    margin: 0 0 30px 0;
    width: 52px;
    height: 49px;
}

&-header {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    color: $color_text;
    margin: 0 0 20px 0;
}

&-text {
    max-width: 270px;
    text-align: center;
    @extend %font-text;
    color: $color_textlight;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 20px 0;
}


.realization {
    background-color: #fbfaf8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 0 0;
    box-sizing: border-box;

    &-header {
        @extend %font-h2;
        margin: 0 0 20px 0;
    }

    &-text {
        @extend %font-text;
        max-width: 770px;
        text-align: center;
        margin: 0 0 40px 0;
    }

    &-img {
        height: 482px;
        width: auto;
    }
}

.purchase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(78, 52, 39);

    &-wrap {
        margin: 50px 0 50px 0;
    }

    &-header {
        font-family: 'Raleway', sans-serif;
        font-size: 28px;
        font-weight: 400;
        font-style: normal;
        color: $color_white;
    }

    &-header span {
        color: $color_lightbrown;
    }

    &-text {
        @extend %font-text;
        font-size: 18px;
        color: $color_brown;
    }

    &-button {
        @extend %button;

        &-wrapper {
            align-self: center;
        }
    }

    &-button:hover {
        @extend %button-hover;
        padding: 25px 35px 23px 35px;
    }

    &-button:active {
        @extend %button-active;
    }
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    box-sizing: border-box;

    &-header {
        @extend %font-h2;
        margin: 0 0 25px 0;
    }

    &-text {
        @extend %font-text;
        max-width: 770px;
        text-align: center;
        margin: 0 0 40px 0;
        color: $color_textlight;
    }

    &-nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        margin: 0 0 40px 0;

        &-item {
            padding: 10px 20px;
            margin: 0 10px 0 0;
            border: 1px solid #ebebeb;
            border-radius: 3px;

            &-link {
                color: $color_textlight;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                font-style: normal;
            }

        }

        &-item:last-child {
            margin: 0;
        }

        &-item:hover {
            color: $color_white;
            background-color: $color_lightbrown;
        }

        &-item:hover .projects-nav-list-item-link {
            color: $color_white;
        }

        &-item:active {
            transform: translateY(-7px);
        }
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: space-around;
        align-self: center;
        margin: 0 0 10px 0;

        &-item {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 0 30px 30px;


            &-img {
                height: 237px;
            }

            &-buttons {
                position: absolute;
                display: none;
                align-self: center;
                top: 30%
            }

            &-search {
                background-color: transparent;

                &-svg {
                    fill: $color_lightbrown;
                }
            }

            &-link {
                background-color: transparent;
                margin: 0 30px 0 0;

                &-svg {
                    fill: $color_lightbrown;
                }
            }

            &-wrap {
                position: relative;
                background-color: #fbfaf8;
                padding: 30px;
                margin: -4px 0 0 0;
            }

            &-wrap::before {
                content: "";
                border: 10px solid transparent;
                border-bottom: 10px solid #fbfaf8;
                position: absolute;
                top: -20px;
                left: 19px;
            }

            &-header {
                font-family: 'Raleway', sans-serif;
                font-size: 20px;
                font-weight: 500;
                font-style: normal;
                color: $color_lightbrown;
                margin: 0 0 5px 0;
            }

            &-text {
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                font-style: normal;
                color: $color_textlight;
            }


        }

        &-item:hover .projects-list-item-img {
            filter: brightness(30%);
        }

        &-item:hover .projects-list-item-wrap {
            background-color: $color_darkbrown;
        }

        &-item:hover .projects-list-item-wrap::before {
            border-bottom: 10px solid $color_darkbrown;
        }

        &-item:hover .projects-list-item-header {
            color: $color_white;
        }

        &-item:hover .projects-list-item-text {
            color: $color_lightbrown
        }

        &-item:hover .projects-list-item-buttons {
            display: block;
        }

        .projects-list-item-buttons:hover .projects-list-item-link:hover .projects-list-item-link-svg {
            fill: $color_white;
        }

        .projects-list-item-buttons:hover .projects-list-item-search:hover .projects-list-item-search-svg {
            fill: $color_white;
        }

    }

    &-button {
        @extend %button;
    }

    &-button:hover {
        @extend %button-hover;
        background-color: #fbfaf8;
    }

    &-button:active {
        @extend %button-active;
    }
}

.project-list-item-search,
.project-list-item-link {
    width: 20px;
    height: 20px;
    display: none;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 45%
}

//* Разобраться с svg при наведении 

.video {
    display: flex;
    justify-content: center;
    align-items: center;

    &-video {
        width: 100% !important;
        height: auto !important;
        position: relative;
        z-index: -1;
    }

    &-wrap {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-text {
            text-align: center;
        }
    }

    &-button {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgba(54, 47, 45, .2);
        margin: 0 0 45px 0;

        &-svg {
            fill: $color_white;
        }
    }

    &-header {
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        font-weight: 500;
        font-style: normal;
        color: $color_white;
        margin: 0 0 30px 0;
    }

    &-text {
        @extend %font-text;
        color: $color_white;
        margin: 0 0 30px 0;
        max-width: 570px;
    }

    &-timer {
        @extend %font-text;
        font-size: 14px;
        color: $color_lightbrown;

    }
}

.mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 0 0 0;
    box-sizing: border-box;

    &-bg {
        margin: 0 30px 0 0;
    }

    &-header {
        @extend %font-h2;
        margin: 0 0 40px 0;
    }

    &-text {
        @extend %font-text;
        color: $color_textlight;
        margin: 0 0 40px 0;
        max-width: 670px;
    }

    &-list {
        list-style-type: none;
        padding: 0 0 60px 100px;

        &-item {
            position: relative;
            padding: 0 0 5px 0;

            &-text {
                @extend %font-text;
                color: $color_textlight;
            }
        }

        &-item::before {
            position: absolute;
            background-image: url(../img/mobile-list-png.png);
            content: '';
            background-size: 21px 21px;
            width: 21px;
            height: 21px;
            top: 3px;
            left: -50px;
        }
    }
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(78, 52, 39);
    padding: 0 0 60px 0;
    box-sizing: border-box;

    &-title {
        display: none;
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px 60px 0;

        &-svg {
            fill: $color_lightbrown;
            margin: 0 0 30px 0;
            width: 54px;
            height: 44px;
        }

        &-number {
            color: $color_white;
            font-family: 'Montserrat', sans-serif;
            font-size: 48px;
            font-weight: 300;
            line-height: 36px;
            font-style: normal;
            margin: 0 0 20px 0;
        }

        &-text {
            color: $color_lightbrown;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            font-style: normal;
            text-transform: uppercase;
            margin: 0 0 30px 0;
        }
    }

    &-item::after {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        background-color: $color_white;
    }

    &-item:hover .numbers-item-svg {
        fill: $color_white;
    }

    &-item:hover::after {
        background-color: $color_lightbrown;
    }

}

.recent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    box-sizing: border-box;

    &-header {
        @extend %font-h2;
        margin: 0 0 30px 0;
    }

    &-text {
        @extend %font-text;
        color: $color_textlight;
        text-align: center;
        max-width: 770px;
        margin: 0 0 30px 0;
    }

    &-list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 40px 0;

        &-item {
            border: 1px solid #f8f8f8;
            max-width: 370px;
            margin: 0 30px 0 0;

            &-img {
                height: 220px;
                position: relative;
                z-index: -1;
            }

            &-date {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50px;
                background-color: #363636;
                border-radius: 3px;
                margin: 20px 0 0 20px;


                &-day {
                    padding: 5px 0;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 300;
                    font-size: 24px;
                    color: $color_white;
                }

                &-month {
                    background-color: #252525;
                    border-radius: 0 0 3px 3px;
                    width: 50px;
                    padding: 5px 0;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    text-transform: capitalize;
                    text-align: center;
                    color: $color_white;
                }

            }

            &-wrap {
                padding: 30px;
                margin: -4px 0 0 0;
            }

            &-header {
                font-family: 'Raleway', sans-serif;
                font-size: 20px;
                font-weight: 500;
                font-style: normal;
                color: $color_text;
                margin: 0 0 25px 0;
            }

            &-text {
                font-family: 'Montserrat', sans-serif;
                font-weight: 300;
                font-size: 14px;
                line-height: 22px;
                color: $color_textlight;
                margin: 0 0 25px 0;
            }

            &-link {
                font-family: 'Montserrat', sans-serif;
                font-weight: 300;
                font-size: 14px;
                line-height: 22px;
                color: $color_lightbrown;
            }

            &-link::after {
                content: '';
                border: solid $color_lightbrown;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                margin: 0 0 0 10px;
            }
        }

        &-item:last-child {
            margin: 0;
        }

        &-item:hover .recent-list-item-wrap {
            background-color: $color_darkbrown;
        }

        &-item:hover .recent-list-item-header {
            color: $color_lightbrown;
        }

        &-item:hover .recent-list-item-text {
            color: $color_white;
        }

        &-item:hover .recent-list-item-img {
            filter: brightness(30%);
        }

        &-item:hover .recent-list-item-date {
            background-color: $color_lightbrown;
        }

        &-item:hover .recent-list-item-date-month {
            background-color: $color_brown;
        }

        &-item:hover .recent-list-item-link:hover {
            color: $color_white;
        }

    }

    &-pagination-svg {
        fill: #d8d8d8;
    }

    &-pagination-svg:hover {
        fill: $color_lightbrown;
    }
}

.partners {
    background-image: url(../img/partners-bg.jpg);
    background-color: $color_darkbrown;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;
    box-sizing: border-box;

    &-title {
        display: none;
    }

    &-logo {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;

        &-link:hover {
            opacity: 0.7;

        }

        &-link:focus {
            opacity: 0.7;
        }

        &-link:active {
            transform: translateY(-7px);
        }
    }




    .footer {

        &-wrap {
            background-color: #191919;
            padding: 70px 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        &-info {
            margin: 0 30px 0 0;

            &-logo {
                align-self: center;
                display: flex;
                margin: 0 0 30px 0;

                &-svg {
                    fill: $color_white;
                }

                &-text {
                    font-family: 'Raleway', sans-serif;
                    font-weight: 400;
                    font-size: 34px;
                    color: $color_white;
                    align-self: center;
                }
            }

            &-text {
                max-width: 270px;
                @extend %font-text;
                font-size: 14px;
                color: $color_text;
                margin: 0 0 25px 0;
            }

            &-link {
                font-family: 'Montserrat', sans-serif;
                font-weight: 300;
                font-size: 14px;
                line-height: 22px;
                color: $color_white;
            }

            &-link::after {
                content: '';
                border: solid $color_white;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                margin: 0 0 0 10px;
            }

            &-link:hover {
                color: $color_lightbrown;
            }

        }

        &-recent {
            margin: 9px 30px 0 0;

            &-header {
                font-family: 'Raleway', sans-serif;
                font-size: 24px;
                font-weight: 700;
                font-style: normal;
                color: $color_white;
                display: block;
                margin: 0 0 30px 0;
            }

            &-list {
                list-style-type: none;
                max-width: 270px;

                &-item {
                    &-date {
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 20px;
                        color: #363636;
                        display: block;
                        margin: 0 0 10px 0;
                    }

                    &-text {
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 20px;
                        color: $color_text;
                        margin: 0 0 20px 0;
                    }

                }

                &-item::after {
                    content: "";
                    display: block;
                    width: 270px;
                    height: 1px;
                    background-color: #252525;
                    margin: 0 0 20px 0;
                }

                &-item:hover .footer-recent-list-item-date {
                    color: $color_white;
                }

                &-item:hover .footer-recent-list-item-text {
                    color: $color_lightbrown;
                }
            }
        }

        &-twitter {
            margin: 9px 30px 0 0;

            &-header {
                font-family: 'Raleway', sans-serif;
                font-size: 24px;
                font-weight: 700;
                font-style: normal;
                color: $color_white;
                display: block;
                margin: 0 0 30px 0;
            }

            &-list {
                list-style-type: none;
                width: 270px;

                &-item {
                    &-time {
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 20px;
                        color: #363636;
                        display: block;
                        margin: 0 0 20px 0;
                    }

                    &-text {
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 20px;
                        color: $color_text;
                        margin: 0 0 10px 0;
                    }

                    &-text span {
                        color: #01b7e9;
                    }

                    &-text a {
                        color: $color_textlight;
                    }

                }

                &-item::after {
                    content: "";
                    display: block;
                    width: 270px;
                    height: 1px;
                    background-color: #252525;
                    margin: 0 0 20px 0;
                }

            }
        }

        &-dribble {
            margin: 9px 0 0 0;

            &-header {
                font-family: 'Raleway', sans-serif;
                font-size: 24px;
                font-weight: 700;
                font-style: normal;
                color: $color_white;
                display: block;
                margin: 0 0 30px 0;
            }

            &-widget {
                display: flex;
                flex-wrap: wrap;
                width: 280px;

                &-link {
                    margin: 0 10px 6px 0;
                }

                &-link:hover {
                    opacity: 0.7;
                }

                &-link:focus {
                    opacity: 0.7;
                }

                &-link:active {
                    transform: translateY(-7px);
                }
            }
        }

        &-copyright {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            background-color: #111;
            padding: 45px 0;

            &-list {
                list-style-type: none;
                display: flex;

                &-item {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 20px;

                    &-text {
                        color: $color_text;
                    }

                    &-text span {
                        color: $color_textlight;
                    }

                    &-link {
                        color: $color_text;
                    }
                }

                &-item:hover .footer-copyright-list-item-link {
                    color: $color_lightbrown;
                }

                &-item+.footer-copyright-list-item::before {
                    content: "|";
                    color: #252525;
                    display: inline-block;
                    padding: 0 7px;
                    margin: 0 0 20px 0;
                }
            }

            &-design {
                font-family: 'Montserrat', sans-serif;
                font-weight: 300;
                font-size: 13px;
                line-height: 20px;
                color: $color_text;

                &-text::before {
                    content: "|";
                    color: #252525;
                    display: inline-block;
                    padding: 0 7px;
                    margin: 0 0 20px 0;
                }

                &-text span {
                    color: $color_textlight;
                }
            }
        }
    }

    .mobile-header-wrap-nav {
        display: none;
    }

    @media (max-width: 1250px) {
        .realization-img {
            width: 100%;
            height: auto;
        }

        .mobile-bg {
            width: 30%;
            height: auto;
        }
    }

    @media (max-width: 1180px) {
        .header-logo-text {
            display: none;
        }

        .work-list {
            justify-content: center;
        }

        .work-list-wrapper {
            padding: 0 15px 30px 15px;
            margin: 0;
        }

        .projects-list {
            justify-content: space-evenly;
        }

        .numbers-item {
            margin: 60px 15px 0 15px;
        }

        .recent-list {
            justify-content: center;
        }

        .recent-list-item {
            padding: 0 15px 0 15px;
            margin: 0 0 20px 0;
        }
    }

    .partners-logo-png {
        width: 70%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    @media (max-width: 900px) {
        .header {
            padding: 20px 0 0 0;
        }

        .header-wrap {
            flex-direction: column;
        }

        .header-wrap-nav {
            justify-content: center;
        }

        .header-logo {
            margin: 0 0 20px 0;
        }

        .mobile {
            padding: 40px 0 0 0;
        }

        .partners-logo-png {
            margin-bottom: 30px;
        }
    }

    @media (max-width: 800px) {
        .header-logo-text {
            display: block;
        }

        .header-wrap {
            flex-direction: row;
            justify-content: space-between;
            margin: 0 40px 200px;
        }

        .header-nav {
            display: none;
        }

        .header-search {
            margin: 0 30px 0 0;
        }

        .header-button {
            margin: 0 0 200px 0;
        }

        .mobile-header-wrap-nav {
            display: block;

            &-btn {
                display: flex;
                position: absolute;
                top: 57px;
                width: 26px;
                height: 26px;
                cursor: pointer;
                z-index: 1;
            }

            &-btn>span,
            &-btn>span::before,
            &-btn>span::after {
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $color_white;
                transition-duration: .25s;
            }

            &-btn>span::before {
                content: '';
                top: -10px;
            }

            &-btn>span::after {
                content: '';
                top: 10px;
            }

            &-menu {
                display: block;
                position: fixed;
                visibility: hidden;
                top: 0;
                left: -100%;
                width: 300px;
                height: 100%;
                margin: 0;
                padding: 80px 0;
                list-style: none;
                background-color: $color_white;
                box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
                transition-duration: .25s;

                &-item {
                    display: block;
                    padding: 12px 24px;
                    color: $color_text;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;
                    font-style: normal;
                    text-decoration: none;
                    transition-duration: .25s;
                }

                &-item:active {
                    background-color: $color_lightbrown;
                    color: $color_white;
                }
            }


        }

        #mobile-header-wrap-nav-toggle {
            opacity: 0;
        }

        #mobile-header-wrap-nav-toggle:checked~.mobile-header-wrap-nav-btn>span {
            transform: rotate(45deg);
        }

        #mobile-header-wrap-nav-toggle:checked~.mobile-header-wrap-nav-btn>span::before {
            top: 0;
            transform: rotate(0);
        }

        #mobile-header-wrap-nav-toggle:checked~.mobile-header-wrap-nav-btn>span::after {
            top: 0;
            transform: rotate(90deg);
        }

        #mobile-header-wrap-nav-toggle:checked~.mobile-header-wrap-nav-menu {
            visibility: visible;
            z-index: 1;
            left: 0;
        }

        .header {
            &-title {
                font-size: 40px;
            }

            &-caption {
                font-size: 30px;
            }

            &-carusel-arrow {
                display: none;
            }

            &-slider {
                display: none;
            }
        }

        .projects-nav-list-item {
            margin: 0 10px 20px 0;
        }

        .projects-nav-list-item:last-child {
            margin: 0 0 20px 0;
        }

        .video {
            display: none;
        }

        .mobile {
            background-color: $color_darkbrown;

            &-wrap {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &-header {
                color: $color_white;
            }

            &-text {
                color: $color_white;
            }

            &-list-item-text {
                color: $color_white;
            }
        }

        .numbers {
            display: none;
        }

        .partners {
            display: none;
        }

        .footer-info {
            margin-bottom: 20px;
        }
    }

    @media (max-width: 460px) {
        .header {
            &-logo-text {
                display: none;
            }

            &-caption {
                font-size: 26px;
                text-align: center;
            }

            &-title {
                font-size: 30px;
                text-align: center;
            }

            &-text {
                font-size: 14px;
            }
        }

        .realization {
            &-header {
                text-align: center;
            }

            &-text {
                font-size: 14px;
            }
        }

        .purchase {

            &-header {
                text-align: center;
            }

            &-text {
                display: block;
                font-size: 14px;
                text-align: center;
            }
        }

        .projects {

            &-text {
                font-size: 14px;
            }

            &-list-item {
                padding: 0 0 30px 0;

                &-img {
                    height: 100%;
                    width: auto;
                }
            }
        }

        .mobile {
            &-header {
                text-align: center;

                &-wrap-nav-menu {
                    width: 250px;
                }
            }

            &-text {
                text-align: center;
                font-size: 14px;
            }

            &-list-item-text {
                font-size: 14px;
            }
        }

        .recent {
            &-text {
                font-size: 14px;
            }

            &-list-item {
                padding: 0;

                &-img {
                    height: auto;
                    width: 100%;
                }
            }
        }

        .footer-copyright-design {
            display: none;
        }

        .footer-copyright-list {
            flex-wrap: wrap;
        }

        .footer-copyright-list-item-text {
            display: none;
        }
    }
}