//Основые цвета файла 
$color-white: #fff;
$color_darkbrown: #362f2d;
$color_brown: #998675;
$color_lightbrown: #c7b299;
$color_text: #555555;
$color_textlight: #8c8c8c;

//Основные размеры шрифтов 
$fz-h2: 30px;